<h1>Latest Data</h1>
<p>Here goes the latest and greatest...</p>
<ul id="dataList">
  <li>Apples
    <ul>
      <li>Big ones</li>
      <li>Juicy ones</li>
      <li>Red ones</li>
    </ul>
  </li>
  <li>Oranges</li>
  <li>Papaya
    <ul>
      <li>Papaya carica</li>
      <li>Carica</li>
      <li>Carica pubescens</li>
    </ul>
  </li>
  <li>Lychee</li>
  <li>Rambutan</li>
  <li>Passionfruit</li>
  <li>Mango</li>
</ul>