<!DOCTYPE html>
<html lang="en">
<head>
<title>JavaScript Mustache template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
</head>
<body>

<div id="mypanel"></div>
<button id="btn">Load</button>
<script>
$("#btn").on('click', function() {
    var data = { name: "Jonathan" };
    var template = "Hello {{ name }}";
    var text = Mustache.render(template, data);
    $("#mypanel").html(text);
});
</script>
</body>
</html>